body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	color:#333333; /*font color is TR Medium Gray*/
}
h2
{
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 14px;
	font-size: 	16px;
	text-transform:uppercase;
}
.brand /*this is the TR Logo*/
{
	font-size: 16px;
	color: #ccc;
	position: absolute;
	right: 10px;
	top: 20px;
}
.title /*this is the Data Dictionary Title*/
{
	font-size: 150%;
	color: #A00000;
	position: absolute;
	left: 15px;
	top: 20px;
	text-transform:uppercase;
}
a.hiddenlink,a.hiddenlink:visited /*hidden link on Data Dictionary Title takes you to the TOC page*/
{
	text-decoration:none;	
	color: #005A84;
}
a.hiddenlink:active, a.hiddenlink:hover /*hidden link on Data Dictionary Title takes you to the TOC page*/
{
	color: #0078ae;
}
.subtitle /*this is the information below the title*/
{
	font-size: 14px;
	color: #333333;
	position: absolute;
	left: 15px;
	top: 48px;
}
.subtitle-menu /*these are the links below the title*/
{
	font-size: 100%;
	color: #005A84;
	position: absolute;
	left: 15px;
	top: 68px;
}
a.headerlink,a.headerlink:visited /*this is the link for document types and property types*/
{
	color: #0078ae;
	font-size: 100%;
	text-decoration:none;
}
a.headerlink:active, a.headerlink:hover /*this is the link for document types and property types*/
{
	color: #005A84;
	font-size: 100%;
	text-decoration:none;
}
.subheading /*Table of Contents title on index page*/
{
	font-size:100%;
	color: #A00000;
	left: 15px;
	top: 88px;
}
.alpha-listing /*Table of contents button menu*/
{
	left: 15px;
	top: 108px;
}
a.alpha-button,a.alpha-button:visited /*this is for the TOC buttons*/
{
	font-size: 16px;
	margin-right:3px;
	margin-left:3px;
	background-color: #FFFFFF;
	border: 1px solid #999999;
	padding:1px 8px 1px 8px;
	text-decoration: none;
	color: #A00000;
}
a.alpha-button:hover, a.alpha-button:active, a.alpha-button-selected,a.alpha-button-selected:visited /*this is for the TOC buttons*/
{
	font-size: 16px;
	margin-right:3px;
	margin-left:3px;
	text-decoration: none;	
	background-color: #A00000;
	border: 1px solid #999999;
	padding:1px 8px 1px 8px;
	color: #FFFFFF;
}
a.alpha-button-selected:active,a.alpha-button-selected:hover /*this is for the TOC buttons*/
{
	font-size: 16px;
	margin-right:3px;
	margin-left:3px;
	text-decoration: none;	
	background-color: #A00000;
	border: 1px solid #999999;
	padding:1px 8px 1px 8px;
	color: #FFFFFF;
}
a.reglink,a.reglink:visited /*all other links on the page*/
{
	color: #0078ae;
	text-decoration: none;
}
a.reglink:hover, a.reglink:active /*all other links on the page*/
{
	color: #005A84;
	text-decoration: none;
}
.label /*These are the labels under summary*/
{
	font-size: 14px;
	color: #A00000;
	width: 200px;
	text-transform:uppercase;
}
.description /*These are the descriptions under summary*/
{
	font-size: 14px;
	color: #333333;
	float: left;
	width: 300px;
}
.row-section /*container around the columns*/
{
	width: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.tabholder /*margin on the Summary, Properties, Relationships tabs*/
{
	margin-left: 5px;
}
a.tab,a.tab:visited /*menu with summary, properties, and relationships*/
{
	background-color: #ffffff;
	border: 1px solid #c9c9c9;
	border-bottom-width: 0px;
	padding:5px 3em 5px 3em;
	text-decoration: none;
	color: #cccccc;
	font-size: 110%;
}
a.tab:hover,a.tab-selected /*menu with summary, properties, and relationships*/
{
	border: 1px solid #c9c9c9;
	border-bottom-width: 0px;
	padding:5px 3em 5px 3em;
	text-decoration: none;
	background-color: #A00000;
	color: #ffffff;
	font-size: 110%;
}
.table-container /*main table*/
{
	margin-top: 5px;
	text-decoration: none;
	border: 1px solid #c9c9c9;
	padding:10px 3em 10px 3em;
}
.column-one
{
	width: 255px;
	font-size: 90%;
	word-wrap:break-word;
	vertical-align:top;
}
.column-two
{
	width: 255px;
	font-size: 90%;
	word-wrap:break-word;
	vertical-align:top;
}
.column-three
{
	width: 255px;
	font-size: 90%;
	word-wrap:break-word;
	vertical-align:top;
}
.column-four
{
	width: 275px;
	font-size: 90%;	
	word-wrap:break-word;
	vertical-align:top;
}
.column-five
{
	width: 255px;
	font-size: 90%;	
	word-wrap:break-word;
	vertical-align:top;
}
.section-one
{

}
.spacer
{
	margin-top:30px;	
}
.sql-content /*This is the font for the code samples*/
{
	font-family: "Courier New", "Lucida Console", monospace;
	font-size: 18px;
}
.imagelink /*Links to the org level image*/
{
	border-style: none;
}
.image-container /*this is for the generated image on relationships*/
{
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}
.maintitle /*this is the title on the index page*/
{
	font-size: 48px;
	color: #A00000;
}
.titlesection /*this is on the index page for Data Dictionary and Table of Contents text*/
{
	margin-top: 5%;
	text-align: center;
}
.footer-stamp
{
	font-size: 10px;
	text-align: left;
	color: #333333;
}
.even
{
	background-color: #eeeeee;
}
.center-block
{
	margin-left:auto;
	margin-right:auto;
}
.no-image /*style for text that replaces non-existant images*/
{
	margin-top: 5px;
	text-decoration: none;
	padding:10px 3em 10px 3em;
}
}